
header .navigation-bar{
	background-color: #333333;
	
	border-top: 1px solid #4c4949;
}




select[name="course"]{
	text-align-last: center;
}
a:hover{
	text-decoration: none;
}
.m-b-30{
	margin-bottom: 30px !important;
}
.m-t-30{
	margin-top: 30px !important;
}
.m-t-40{
	margin-top: 40px !important;
}
.m-t-50{
	margin-top: 50px !important;
}
.m-t-60{
	margin-top: 60px !important;
}
.clear{
	clear: both;
}
.courseHeader{
	background-color: #f4c936;
	padding: 50px 0 50px;
	margin-top: 70px;
}
.courseHeader h1{
	color: rgb(50, 51, 50);
	display:block;
	font-family:mont-bold;
	font-size:50px;
	font-weight:700;
	line-height:55px;
	margin-bottom:10px;
	margin-top:20px;
	text-align:center;
	text-transform:uppercase;
}
.courseHeader .bannerTagLine{
	color: rgb(50, 51, 50);
	display:block;
	font-family:mont-bold;
	font-size:18px;
	font-weight:700;
	height:19px;
	line-height:19.8px;
	text-align:center;
	width:100%;
}
.courseHeader .taglineBorder{
	color: rgb(85, 85, 85);
	display:block;
	font-family:"open-sans";
	font-size:11.9px;
	height:3px;
	line-height:22px;
	margin-bottom:27px;
	margin-top:23px;
	text-align:center;
	width:100%;
}
.courseHeader .taglineBorder > div{
	background-color: rgb(49, 51, 49);
	color:rgb(85, 85, 85);
	display:block;
	font-family:"open-sans";
	font-size:11.9px;
	height:3px;
	line-height:22px;
	margin-left:48%;
	position:relative;
	text-align:center;
	width:40px;
}

.courseHeader .taglineBorder > div > div{
	border-bottom-color: rgb(49, 51, 49);
	border-bottom-style:solid;
	border-bottom-width:3px;
	border-left-color:rgba(0, 0, 0, 0);
	border-left-style:solid;
	border-left-width:3px;
	border-right-color:rgba(0, 0, 0, 0);
	border-right-style:solid;
	border-right-width:3px;
	box-sizing:border-box;
	color:rgb(85, 85, 85);
	display:block;
	font-family:"open-sans";
	font-size:11.9px;
	height:3px;
	left:20px;
	line-height:22px;
	margin-left:-3px;
	position:absolute;
	text-align:center;
	top:-3px;
	width:6px;
}
.customBreadcrumb{
	background-color:rgb(246, 246, 246);
	border-bottom-color:rgb(240, 242, 245);
	border-bottom-style:solid;
	border-bottom-width:1px;
	box-sizing:border-box;
	color:rgb(170, 170, 170);
	display:block;
	font-family:"open-sans";
	font-size:11px;
	height:39px;
	line-height:22px;
	margin-bottom:52px;
	padding-bottom:7px;
	padding-top:9px;
	text-transform:uppercase;
}
.customBreadcrumb a{
	box-sizing:border-box;
	color:#aaa;
	cursor:pointer;
	display:inline;
	font-family:"open-sans";
	font-size:11px;
	line-height:22px;
	text-decoration-line:none;
	text-transform:uppercase;
	transition-delay:0s;
	transition-duration:0.25s;
	transition-property:all;
	transition-timing-function:ease;
}
.customBreadcrumb a:hover {
    color: #eab830;
}
.customBreadcrumb i{
	    font-size: 10px;
	    margin: 0 10px;
	    color: #dcdcdc;
}
.boxContainer .courseTitle{
	border-bottom-color:rgb(225, 226, 228);
	border-bottom-style:solid;
	border-bottom-width:1px;
	box-sizing:border-box;
	color:rgb(51, 51, 51);
	display:block;
	font-family:mont-bold;
	font-size:32px;
	font-weight:700;
	height: auto;
	line-height:32px;
	margin-bottom:22px;
	margin-top:0px;
	padding-bottom:23px;
	-webkit-margin-after:22px;
	-webkit-margin-before:0px;
	-webkit-margin-end:0px;
	-webkit-margin-start:0px;
}
.singleCourse {
    margin-bottom: 0px;
}
.singleCourse .meta_pull .pull-left{
	margin-bottom:10px;
}
.singleCourse .meta-unit.teacher{
	box-sizing:border-box;
	color:rgb(72, 167, 212);
	cursor:pointer;
	display:block;
	font-family:"open-sans";
	font-size:14px;
	height: 50px;
	line-height:22px;
	/* margin-bottom: 30px; */
	/* margin-right:55px; */
	width: 200px;
}
.singleCourse .meta-unit i{
	box-sizing: border-box;
	color: #aaaaaa;
	cursor: pointer;
	display: block;
	font-size: 30px;
	font-weight: 400;
	height: 35px;
	line-height: 30px;
	margin-bottom: 0px;
	margin-left: 2px;
	margin-right: 15px;
	margin-top: 0px;
	padding-top: 5px;
	speak: none;
	text-size-adjust: 100%;
	text-transform: none;
	width: auto;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.singleCourse .meta_values {
    float: left;
    /* background:  red; */
}
label.h3, label.h4, label.h5, label.h6, .label.h3, .label.h4, .label.h5, .label.h6{
    color: #aaa;
    font-family: mont;
}
.singleCourse .meta-unit.teacher:hover .value{
	transition: all 0.25s ease;
    color: #eab830;
}
.meta_values .value a{
	color: #555;
}
.meta_values .value{
	box-sizing:border-box;
	color:#555;
	cursor:pointer;
	display:block;
	font-family:mont;
	font-size: 12px;
	font-weight:400;
	height:13px;
	line-height:13.2px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top: 0px;
	text-transform:uppercase;
	transition-delay:0s;
	transition-duration:0.25s;
	transition-property:all;
	transition-timing-function:ease;
	width: auto;
}
.meta_values .value a:hover{
	color: #eab830;
}
.meta_values .label{
	box-sizing:border-box;
	color:rgb(170, 170, 170);
	cursor:pointer;
	display:inline;
	font-family:mont;font-size: 13px;
	height:auto;
	line-height:10.5px;
	margin-bottom:10px;
	margin-top:10px;padding: 0;
	text-align:center;
	vertical-align:baseline;
	white-space:nowrap;
	width:auto;
	border-radius: 0px;
}
.courseImg{
	width: 100%;
	margin-bottom: 35px;
}
.courseImg img{
	width: 100%;
}
h3.sectionTitle{
	box-sizing:border-box;
	color:rgb(51, 51, 51);
	display:block;
	font-family:mont-bold;
	font-size:18px;
	font-weight:700;
	height:19px;
	line-height:19.8px;
	margin-bottom:21px;
	margin-top:20px;
}
.content p{
	color:rgb(85, 85, 85);
	display:block;
	font-family:"open-sans";
	font-size:14px;
	text-align: justify;
	line-height:22px;
	margin-bottom:16px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
}
.content h6{
	color:rgb(51, 51, 51);
	display:block;
	font-family:mont;
	font-size:16px;
	font-style:normal;
	font-weight:400;
	height:17px;
	letter-spacing:-0.2px;
	line-height:17.6px;
	margin-bottom:18px;
	margin-top:10px;
	text-align:left;
}
.content ul{
    padding-left: 20px;
}
.content ul li{
	box-sizing:border-box;
	color:rgb(85, 85, 85);
	display:list-item;
	font-family:"open-sans";
	font-size:14px;
	height: auto;
	line-height:22px;
	list-style-type:disc;
	margin-bottom:8px;
	text-align:left;
}
.content .col-xs-6 ul li{
	width:384px;
}
.content .col-xs-12 ul li{
	width: auto;
}
.multiseparator{
	display:block;
	height:3px;
	margin-bottom:30px;
	margin-top:30px;
	overflow-x:hidden;
	overflow-y:hidden;
	position:relative;
}
.multiseparator::before{
	background-color:rgb(220, 220, 220);
	bottom:1px;
	box-sizing:border-box;
	content:"";
	display:block;
	height:1px;
	left:65px;
	position:absolute;
	width:1200px;
	z-index:10;
}
.multiseparator::after{
	background-color:rgb(234, 184, 48);
	bottom:0px;
	box-sizing:border-box;
	content:"";
	display:block;
	height:3px;
	left:0px;
	position:absolute;
	width:50px;
	z-index:10;
}
h5.boxHeading{
	color:rgb(69, 121, 146);
	display:block;
	font-family:mont;
	font-size:16px;
	font-weight:400;
	height:17px;
	letter-spacing:-0.2px;
	line-height:17.6px;
	margin-bottom:20px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
}
.collapseBox:hover,.collapseBox.active{
	background-color: #f0f2f5;
	transition: all 0.25s ease;
}
.collapseBox:hover table{
	cursor: pointer;
}
.collapseBox{
	padding: 14px 10px;
	transition: all 0.25s ease;
	border: 1px solid #ddd;
	width: 100%;
	border-bottom:  none;
}
.collapseBox table{
	width: 100%;
}
.collapseBox table td:nth-child(1){
	width: 20px;
	text-align: right;
}
.collapseBox table td:nth-child(2) i{
	color:rgb(170, 170, 170);
	display:inline-block;
	font-family:FontAwesome;
	font-size:14px;
	font-stretch:100%;
	font-weight:400;
	height:14px;
	line-height:14px;
	margin-bottom:0px;
	margin-left:5px;
	margin-right:5px;
	margin-top:0px;
	position:relative;
	top:2px;
	transform:matrix(1, 0, 0, 1, 0, 0);
	vertical-align:top;
	width:8px;
}
.collapseBox table td:nth-child(2){
	color: #555;
	padding-left: 15px;
}
.collapseBox table td:nth-child(3){
	font-size:14px;
	height:33px;
	line-height:22px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:20px;
	padding-top:5px;
	text-align:right;
	vertical-align: middle;
}
.collapseBox table td{
	border-collapse:collapse;
    color: rgb(170, 170, 170);
    font-family: "open-sans";
    font-size: 14px;
    line-height: 22px;
    vertical-align: middle;
}
.collapseBox .collapseContent{
	box-sizing:border-box;
	color:rgb(85, 85, 85);
	display:none;
	font-family:"open-sans";
	font-size:14px;
	line-height:22px;
	padding-left:20px;
	text-align: justify;
	width: 100%;
	margin-top: 25px;
}
.collapseBox .collapseContent ul li {
	margin-bottom: 10px;
}
.collapseGroup .collapseBox:first-child{
	border-bottom: none; 
}
.collapseGroup .collapseBox:last-child{
	border: 1px solid #ddd;
}
.instructorBox img{
	border-radius:50%;
	display:block;
	float:left;
	height:100px;
	margin-right:15px;
	vertical-align:middle;
	width:100px;
}
.instructorBox .name {
	box-sizing:border-box;
	color:rgb(69, 121, 146);
	display:block;
	font-family:mont;
	font-size:16px;
	font-weight:400;
	height:17px;
	letter-spacing:-0.2px;
	line-height:17.6px;
	margin-bottom:2px;
	margin-left:0px;
	margin-right:0px;
	margin-top:11px;
	transition-delay:0s;
	transition-duration:0.25s;
	transition-property:all;
	transition-timing-function:ease;
}
.enrollBox{
	background-color: #f0f2f5;
	padding: 30px 20px;
}
.enrollBox input[type="text"]{
	border-radius: 0;
	border: 2px solid #eee;
	background: #fff;
	box-shadow: none !important;
	text-align: center;
	height: 47px;
	line-height: 47px;
	font-size: 13px;
	color: #aaa;
	font-family: mont-medium;
	margin-bottom: 15px;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
	width:  100%;
}
.enrollBox input[type="text"]:focus {
    border-color: #54a6d5;
    font-size: 18px;
    color: #000000;
    font-family: mont-bold;
    background-color: #ffffff;
}
.enrollBox input[type="text"]:focus::placeholder{
	color:transparent;
}
.enrollBox input[type="submit"]{
	width: 100%;
	display: block;
	text-align:  center;
	padding: 10px;
	font-family: mont-bold;
	background-color: #48a7d4;
	color:  #fff;
	border:  none;
}
.instructorBox .desc {
	box-sizing:border-box;
	color:rgb(170, 170, 170);
	cursor:default;
	display:block;
	font-family:"open-sans";
	font-size:13px;
	font-weight:400;
	height:22px;
	line-height:22px;
	margin-bottom:6px;
	max-width:100%;
}
.instructorBox .socialLink i.fa{
	border-radius:50%;
	color:rgb(255, 255, 255);
	display:inline-block;
	font-size:13px;
	height:28px;
	line-height:28px;
	margin-bottom:5px;
	margin-right:7px;
	margin-top: 10px;
	position:relative;
	text-align:center;
	transition-delay:0s;
	transition-duration:0.5s;
	transition-property:all;
	transition-timing-function:ease;
	width:28px;
}
.instructorBox .socialLink i.fa:hover{
	    top: -3px;
}
.instructorBox .socialLink i.fa-facebook{
	background-color:rgb(54, 132, 227);
}
.instructorBox .socialLink i.fa-linkedin{
	background-color:#2437ab;
}
.instructorBox .socialLink i.fa-twitter{
	background-color:#53c8ff;
}
.instructorBox .socialLink i.fa-google-plus{
	background-color:#dd4b39;
}
.instructorDescription{
	box-sizing:border-box;
	color:rgb(85, 85, 85);
	display:block;
	font-family:"open-sans";
	font-size:14px;
	height: auto;
	line-height:22px;
	margin-top:30px;
}
.topRight{
	padding-top:15px;
}
.topRight label{
	color:rgb(170, 170, 170);
	display:block;
	font-family:mont;
	font-size:12px;
	height:13px;
	line-height:13.2px;
	margin-bottom:8px;
	max-width:100%;
	text-transform:uppercase;
	width:301px;
}
.topRight p{
	box-sizing:border-box;
	color:rgb(51, 51, 51);
	font-family:mont-bold;
	font-size:32px;
	height:22px;
	line-height:22px;
	margin-top:10px;
	width: auto;
}
.topRight a.affiliate{
	background-color:rgb(72, 167, 212);
	border-color:rgb(72, 167, 212);
	border-top-width:0px;
	box-sizing:border-box;
	color:rgb(255, 255, 255);
	cursor:pointer;
	display:inline-block;
	font-family:mont-bold;
	font-size:18px;
	height: auto;
	letter-spacing:-0.2px;
	line-height:50px;
	width: 100%;
	padding-bottom:12.5px;
	padding-top:12.5px;
	position:relative;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	touch-action:manipulation;
	transform:matrix(1, 0, 0, 1, 0, 0);
	transition-delay:0s;
	transition-duration:0.25s;
	transition-property:all;
	transition-timing-function:ease;
	white-space:nowrap;
	z-index:30;
	margin-top: 15px;
}

.topRight a.affiliate:after {
    content: '';
    display: block;
    position: absolute;
    width: 0%;
    height: 100%;
    left: 0px;
    top: 0;
    background: rgba(0,0,0,0.1);
    z-index: -100;

}
.topRight a.affiliate:hover:after {
    opacity: 1;
    width: 100%;
        transition: all 0.25s cubic-bezier(.66,.36,.17,.91);
}
.topRight table{
	width: 100%;
	box-sizing:border-box;
}
.topRight table tr{
	border-bottom: 1px solid #e1e2e4;
}
.topRight table tr td{
    padding: 25px 0 25px;
}
.topRight table tr td.icon{
	width: 40px;
}
.topRight table tr td.icon i{
	box-sizing:border-box;
	color:rgb(170, 170, 170);
	display:inline;
	font-size:30px;
	font-style:normal;
	font-weight:400;
	line-height:30px;
}
.topRight table tr td.data{
	border-bottom-color:rgb(225, 226, 228);
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-collapse:collapse;
	box-sizing:border-box;
	color:rgb(85, 85, 85);
	display:table-cell;
	font-family:mont-bold;
	font-size:14px;
	font-weight:700;
	height:76px;
	line-height:15.4px;
	padding-bottom:23px;
	padding-top:23px;
	vertical-align:middle;
	width:241px;
}



@media screen and (max-width: 450px){
	.courseHeader h1{
		font-size: 30px;
    line-height: 36px;
	}
	.courseHeader .taglineBorder > div{
		margin-left: 44%;
	}
}
@media screen and (max-width: 320px){
	.topRight table tr td.icon{
		width: 13%;
	}
	header .navigation-bar img {
	    height: 30px;
	    margin: 10px 0 0px 10px;
	}
	.courseHeader h1{
		color: #313331;
		display:block;
		font-family:mont-bold;
		font-size:30px;
		font-weight:700;
		height: auto;
		line-height:33px;
		margin-bottom:10px;
		margin-top:20px;
		text-align:center;
	}

	.courseHeader .bannerTagLine{
		box-sizing:border-box;
		color: #313331;
		display:block;
		font-family:mont-bold;
		font-size:18px;
		font-weight:700;
		height:38px;
		line-height:19.8px;
		margin-bottom:0px;
		margin-left:0px;
		margin-right:0px;
		margin-top:0px;
		text-align:center;
	}

	.courseHeader .taglineBorder > div{
		background-color: #313331;
		box-sizing:border-box;
		color:rgb(85, 85, 85);
		display:block;
		font-family:"open-sans";
		font-size:11.9px;
		height:3px;
		line-height:22px;
		margin-bottom:0px;
		margin-right:125px;
		margin-top:0px;
		position:relative;
		text-align:center;
		width:40px;
	}
	.customBreadcrumb{
		font-size:11px;
		height:auto;
		line-height:22px;
		margin-bottom:30px;
		padding-bottom:7px;
		padding-left:0px;
		padding-right:0px;
		padding-top:9px;
		width: auto;
	}
	.boxContainer .courseTitle{
		height: auto;
		line-height:32px;
	}

	.content .col-xs-12 ul li{

	line-height:22px;
	}
	h5.boxHeading{
		margin-bottom: 30px;
		margin-top: 40px;
	}
}