	@font-face {
		font-family: 'mont';
		src: url('../fonts/Montserrat-Regular.ttf'); 
	}
	@font-face {
		font-family: 'mont-600';
		src: url('../fonts/Montserrat-SemiBold.ttf'); 
	}
	@font-face {
		font-family: 'mont-medium';
		src: url('../fonts/Montserrat-Medium.ttf'); 
	}
	@font-face {
		font-family: 'mont-bold';
		src: url('../fonts/Montserrat-Bold.ttf'); 
	}
	@font-face {
		font-family: 'mont-light';
		src: url('../fonts/Montserrat-Light.ttf'); 
	}
	@font-face {
		font-family: 'open-sans-bold';
		src: url('../fonts/OpenSans-Bold.ttf'); 
	}
	@font-face {
		font-family: 'open-sans';
		src: url('../fonts/OpenSans-Regular.ttf'); 
	}
	@font-face {
		font-family: 'open-sans-semi';
		src: url('../fonts/OpenSans-SemiBold.ttf'); 
	}
	.wrapper{
		position: relative;
    background-color: #fff;
    z-index: 16;
	}
.top-strip{
	background-color:#333333;
	height:38px;
	color:#aaaaaa;
}
.top-strip  ul{
	    list-style: none;
    line-height: 38px;
    margin: 0px;
}

.top-strip ul li{
	display:inline;
	margin-left:33px;
	float:right;
	font-size:13px;
	font-family:open-sans-semi;
}

.top-strip ul li span.vertical_divider{
	    display: inline-block;
    margin: 0px 5px;
}
.top-strip ul li i{
	display:inline-block;
	font-size: 13px;
    margin-right: 5px;
	
}
.top-strip ul li a{
	text-decoration:none;
	color:#aaaaaa;
	font-size:13px;
	font-family:open-sans-semi;
}
header {
	/* position:relative; */
}
header .navigation-bar img{
		height: 40px;
		/* margin-top: -10px; */
		/* position: absolute; */
		margin-left: 15px;
}
header .navigation-bar.sticky{
	    position: fixed;
    background-color: #000;
    top: 0px;
    width: 100%;
	-webkit-animation:pullDown .5s ease-out;
	animation:pullDown .5s ease-out;
}
@-webkit-keyframes pullDown{
	0%{transform:translateY(-100%)}
	100%{transform:translateY(0%)}
}

@keyframes pullDown{
	0%{transform:translateY(-100%)}
	100%{transform:translateY(0%)}
}
	header .navigation-bar{
		 background-color: transparent;
		 border-color: transparent;
		 margin-bottom: 0;
		 -webkit-border-radius:4px;
		 -khtml-border-radius: 4px;
		 /* border-radius: 4px; */
		 padding: 14px 15px 10px;
		 position: relative;
		 z-index: 100;
		 border-radius: 0px;
		 position: absolute;
		 box-shadow: none;
		 -webkit-box-shadow: none;
		 top: 38px;
	}
	header .navigation-bar .navbar-brand {
			float: left;
			height: auto;
			padding: 0;
			font-size: 18px;
			line-height: 20px;
	}

	header .navigation-bar .navbar-inverse {
			background-color: transparent;
			border: none;
			
			-webkit-border-radius: 4px;
			-khtml-border-radius: 4px;
			border-radius:4px;
		margin:0px;

	}



	header .navigation-bar .navbar-inverse .navbar-nav>li>a::before{
		
	}
	header .navigation-bar .navbar-inverse .navbar-nav>li>a::after {
		content: '';
		position: absolute;
		bottom: -1px;
		left: 0;
		width: 0;
		height: 3px;
		max-width: 100%;
		background: #f4c835;
		transition: .33s all ease-out;
	}
	header .navigation-bar .navbar-inverse .navbar-nav>li>a:not(.active):hover::after {
		width:100%;
	}
	header .navigation-bar .navbar-inverse .navbar-nav>li>a {
			color: #fff;
			font-size: 14px;
			padding: 12px 0px;
			font-family: mont;
			text-transform: uppercase;
			line-height: 12px;
			letter-spacing: 1px;
			position:relative;
			background-color: transparent;
	}
	
	header .navigation-bar .navbar-inverse .navbar-nav>li>a.active{
		background-color:transparent;
	}
	header .navigation-bar .navbar-inverse .navbar-nav>li>a.active::after {
		content: '';
		position: absolute;
		bottom: -1px;
		left: 0;
		width: 100%;
		height: 3px;
		max-width: 100%;
		background: #f4c835;
		transition: .33s all ease-out;
	}
	




	header .navigation-bar .navbar-nav>li {
			float: left;
			margin-left: 40px;

	}

.slider{
	height: 760px;
	
}
.slider .carousel{
	
}
.slider .carousel .carousel-inner{
	height:100%;
}

.slider .carousel .carousel-inner .item::before{
content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
    background: -moz-linear-gradient(top,#000 0%,rgba(19,19,19,0.3) 100%);
    background: -webkit-gradient(left top,left bottom,color-stop(0%,#000000),color-stop(100%,rgba(19,19,19,0.3)));
    background: -webkit-linear-gradient(top,#000 0%,rgba(19,19,19,0.3) 100%);
    background: -o-linear-gradient(top,#000 0%,rgba(19,19,19,0.3) 100%);
    background: -ms-linear-gradient(top,#000 0%,rgba(19,19,19,0.3) 100%);
    background: linear-gradient(to bottom,#000 0%,rgba(19,19,19,0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000',endColorstr='#131313',GradientType=0);
    opacity: 0.3;
z-index: 0;
}

.slider .carousel .carousel-inner .item .carousel-caption p{
	color:#ffffff;
	font-size:30px;
	line-height:32px;
	margin:0px;
	padding:0px;
	font-family:mont-bold;
	letter-spacing:-1px;
	text-shadow:none;
	text-transform:uppercase;
	animation:text1 .8s ease-out;
	animation-delay:.5s;
	opacity:0;
	animation-fill-mode:forwards;
}
.slider .carousel .carousel-inner .item .carousel-caption {
    right: 0;
    left: 0;
    padding-bottom: 30px;
    top: 0px;
    height: auto;
    transform: translateY(40%);
    padding: 0px 50px;
}
.slider .carousel .carousel-inner .item .carousel-caption h3{
	color:#fdc735;
	font-size:44px;
	line-height:46px;
	margin:0px;
	padding:0px;
	font-family:mont-bold;
	letter-spacing:-1px;
	text-shadow:none;
	animation:text .8s ease-out;
	overflow:hidden;
	
}
@keyframes text{
    0%{opacity:0;transform:translateY(-80%)}
    100%{opacity:1;transform:rotateY(0deg)}
	
	}
@keyframes text1{
    0%{opacity:0;transform:translateY(50%)}
    100%{opacity:1;transform:rotateY(0deg)}
	
	}

.slider .carousel .carousel-inner .item:nth-child(2) h3,
.slider .carousel .carousel-inner .item:nth-child(2) p{
	text-align:left;
	
}
.slider .carousel .carousel-inner .item{
	background-size:cover;
    height:800px;
	background-repeat:no-repeat;
	background-position:center center;
   	
}
.slider .carousel .carousel-inner .item:nth-child(1){
	background-image:url('../img/slide3.jpg')
}
.slider .carousel .carousel-inner .item:nth-child(2){
	background-image:url('../img/slide1.jpg')
}

.slider .carousel .carousel-control{
    position: absolute;
    top: 40%;
    
    
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow:none;
    background-color:rgba(0,0,0,0.15);
    filter: alpha(opacity=50);
    opacity:1;
    height: 100px;
    width: 100px;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:22px;
	transition: all 0.3s;
}

.slider .carousel .carousel-control.left{
	background-image:url('../img/back.png');
	transform: matrix(1, 0, 0, 1, 20, -0);
}
.slider .carousel .carousel-control.left:hover{
	background-image:url('../img/back-g.png');
}
.slider .carousel .carousel-control.right{
	background-image:url('../img/next.png');
	transform: matrix(1, 0, 0, 1, -20, -0);
}
.slider .carousel .carousel-control.right:hover{
	background-image:url('../img/next-g.png');
}
.slider .carousel .carousel-control:hover{
	background-color:#ffffff;
}
.help-box {
    
    padding: 80px 15px;
}


.help-box .row .box{
	padding-top: 30px;
    padding-right: 32px;
    padding-bottom: 50px;
    padding-left: 32px;
	webkit-transition: all 0.3s cubic-bezier(0,.01,.27,1);
    -moz-transition: all 0.3s cubic-bezier(0,.01,.27,1);
    -o-transition: all 0.3s cubic-bezier(0,.01,.27,1);
    transition: all 0.3s cubic-bezier(0,.01,.27,1);
	height:330px;
}
.help-box .row .box:hover{
	margin-top:-20px;
}
.help-box .box-main .row .box:nth-child(1){
	background: #10c45c;
}

.help-box .box-main .row .box:nth-child(2){
	background: #fdc735;
}
.help-box .box-main .row .box:nth-child(3){
	background: #307ad5;
}
.help-box .box-main .row .box:nth-child(4){
	background: #e948ae;
}
.help-box .row .box h3{
	font-family:mont-bold;
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: .5px;
}
.help-box .row .box p{
	font-family:open-sans;
	font-size:14px;
	color:#ffffff;
	line-height:22px;
}
.help-box .row .box i{
	color:#ffffff;
}
.help-box .box-main .row .box:nth-child(1) i{
	font-size: 73px;
}

.help-box .box-main .row .box:nth-child(2) i{
	
	font-size: 61px;
}
.help-box .box-main .row .box:nth-child(3) i{
font-size: 62px; 
}
.help-box .box-main .row .box:nth-child(4) i{
	font-size: 57px;
}


.courses{
	background-color:white;
	position:relative;
	
	padding:40px 15px;

}
.courses .heading h1::before{
	content:'';
	position: absolute;
    top: 100%;
    left: 50%;
	margin-top:15px;
    margin-left: -3px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid #eab830;
}
.courses .heading h1::after{
	content:'';
	position: absolute;
    width: 40px;
    height: 3px;
    top:100%;
	left:50%;
	margin-left:-20px;
    background-color: #eab830;
	margin-top:18px;
}
.courses .heading h1{
	font-size: 32px;
	line-height: 48px;
	text-align: center;
	font-family: mont-bold;
	margin:0px 0px 25px;
	position:relative;
	font-style: normal;
	color: #000000;
}
.courses .courses-details {
	padding:0px;
}
.courses .courses-details .row{
	
	display:flex;
	justify-content:space-between;
}
.courses .courses-details .box .img-box .price{
	position: absolute;
    top: 13px;
    left: -4px;
    display: inline-block;
    padding: 11px 16px;
    color: #fff;
    text-align: center;
    line-height: 1;
    border-radius: 4px;
	background-color:#e848ad;
	font-family:mont-bold;
}
.courses .courses-details .box:nth-child(2) .img-box .price{
background-color: #f4c835;	
}
.courses .courses-details .box:nth-child(3) .img-box .price{
background-color: #f4c835;	
}
.courses .courses-details .box:nth-child(4) .img-box .price{
background-color:#3f7ad5;
}

.courses .courses-details .box .img-box{
	height:283px;
	padding:0px;
	overflow: hidden;
}

.courses .courses-details .box:nth-child(2) .img-box{
	
    border: 1px solid #dbdcdc;
    border-bottom: none;
    
}
.courses .courses-details .box .img-box a img{
	height:100%;
	margin:  auto;
	display: block;
	width:100%;
}
.courses .courses-details .box{
	
	
	margin:30px 15px;
	overflow:hidden;
}

.courses .courses-details .box .contents{
	padding: 14px 15px 7px;
	border:1px solid #dcdcdc
}
.courses .courses-details .box .contents p{
	color: #aaaaaa;
    font-size: 12px;
    font-family:mont;
}
.courses .courses-details .box .contents a{
	
    margin-bottom: 6px;
	text-decoration:none;
	display:block;
    color: #333;
    font-size: 16px;
    line-height: 20px;
    margin-top:0px;
	padding:0px;
	font-family:mont;
}


.courses .courses-details .box .footer{
	border:1px solid #dcdcdc;
	border-top:none;
	padding: 10px 15px 10px;
	overflow: hidden;
}
.courses .courses-details .box .footer i{
	    
    
    
    color: #848484
}

.courses .courses-details .box .footer .more-details::after{
	content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
   left: -100%;
    top: 0;
    background: rgba(0,0,0,0.1);
    z-index: 0;
	-webkit-transition: all 0.25s cubic-bezier(.66,.36,.17,.91);
    -moz-transition: all 0.25s cubic-bezier(.66,.36,.17,.91);
    -o-transition: all 0.25s cubic-bezier(.66,.36,.17,.91);
    transition: all 0.25s cubic-bezier(.66,.36,.17,.91)
}
.courses .courses-details .box .footer .more-details:hover::after{
	left:0px;
}
.courses .courses-details .box .footer .more-details{
	position:absolute;
    bottom:-44px;
	left: 0;
    width: 100%;
    height: 43px;
	background-color:#48a7d4;
	webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
	z-index:10;
}
.courses .courses-details .box:hover .footer .more-details{
	bottom:0px;
}
.courses .courses-details .box .footer .more-details a{
	    color: #fff;
    
    border: 0;
    
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    outline: none !important;
	display:block;
	width:100%;
	padding:10px;
	text-decoration:none;
	font-family:mont-bold;
	font-size:14px;
	position:relative;
	z-index:11;
}
.courses .courses-details .box .footer .pull-left span{
	font-size:13px;
	font-family:mont;
}
.courses .courses-details .box .footer .pull-right span{
	width: 75px;
    height: 13px;
    margin-top: 4px;
	display:inline-block;
    background: url('../img/starfull.svg') left top repeat-x;
}
.achievement{
height:530px;
background-image:url('../img/achivement-bg.jpg');
background-size:cover;
background-attachment:fixed;
padding:40px 15px;
}

.achievement .heading h1{
	font-size: 32px;
    line-height: 48px;
    text-align: center;
    font-family: mont-bold;
    margin:0px 0px 25px;
	position:relative;
    font-style: normal;
	color:#ffffff;
}
.achievement .heading h1::before{
	content:'';
	position: absolute;
    top: 100%;
    left: 50%;
	margin-top:15px;
    margin-left: -3px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid #eab830;
}
.achievement .heading h1::after{
	content:'';
	position: absolute;
    width: 40px;
    height: 3px;
    top:100%;
	left:50%;
	margin-left:-20px;
    background-color: #eab830;
	margin-top:18px;
}
.achievement .heading p{
	text-align:center;
	font-size:16px;
	font-family:mont;
    color:#ffffff;
margin-top:40px;	
}

.achievement .achievement-details{
	padding-top:70px;
}
.achievement .achievement-details .box {
	text-align:center;
}
.achievement .achievement-details .box .icon i{color:#ffffff}
.achievement .achievement-details .box .contents h1{
	
    font-size: 30px;
	color: #eab830;
	font-family:mont-bold;
	margin:15px 0px 0px;
	padding:0px;
	line-height:32px;
}
.achievement .achievement-details .box .contents h5{
	
    font-size: 14px;
	color: #ffffff;
	font-family:mont-bold;
	margin:5px 0px 10px;
	padding:0px;
	line-height:18px;
}

.success-stories{
	padding: 40px 15px 0px;
	margin-top: -240px;
}
.success-stories .heading h1{
	font-size: 32px;
	line-height: 48px;
	text-align: center;
	font-family: mont-bold;
	margin:0px 0px 25px;
	position:relative;
	font-style: normal;
	color: #ffffff;
}
.success-stories .heading h1::before{
	content:'';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-top:15px;
	margin-left: -3px;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-bottom: 3px solid #ffffff;
}
.success-stories .heading h1::after{
	content:'';
	position: absolute;
	width: 40px;
	height: 3px;
	top:100%;
	left:50%;
	margin-left:-20px;
	background-color: #ffffff;
	margin-top:18px;
}
.success-stories .box-main{
	padding: 40px 0px 30px;
}
.success-stories .box-main .row{
	display:flex;
}

.success-stories .box-main .box{
	border:0;
	height:300px;
	width: 180px;
	margin:0px 15px 30px;
	padding:30px 15px 20px;
	border-radius:3px;
	position:relative;
	webkit-transition: all 0.3s cubic-bezier(0,.01,.27,1);
	-moz-transition: all 0.3s cubic-bezier(0,.01,.27,1);
	-o-transition: all 0.3s cubic-bezier(0,.01,.27,1);
	transition: all 0.3s cubic-bezier(0,.01,.27,1);
}

.success-stories .box-main .box img{
	display: block;
	border-radius: 50%;
	margin: 0px auto 30px;
	height:  100px;
	width: 100px;
}
.success-stories .box-main .box p.text img{
   width: 100px;
    height: auto;
    border-radius: 0px;
    display: block;
    margin: 15px auto;
}
.success-stories .box-main .box:nth-child(1){
	background-color:#54a6d5;
}
.success-stories .box-main .box:nth-child(2){
	background-color:#5fc55b;
}
.success-stories .box-main .box:nth-child(3){
	background-color:#3f7ad5;
}
.success-stories .box-main .box:nth-child(4){
	background-color:#d94ea7;
}
.success-stories .box-main .box:nth-child(5){
	background-color:#eab931;
}
.success-stories .box-main .box:nth-child(6){
	background-color:#54a6d5;
}
.success-stories .box-main .box:hover{
	margin-top:-20px;
}

.success-stories .box-main .box h5{
	text-align:center;
	color:#ffffff;
	font-size:14px;
	font-family:mont-bold;
	margin:0px 0px 5px;
	padding:0px;
}
.success-stories .box-main .box p{

    margin: 0 0 10px;
    text-align: center;
    font-size: 13px;
    color: #ffffff;
	line-height:15px;
    font-family: mont;
    margin: 0px;
    padding: 0px;

}
.success-stories .box-main .box p.text{

    margin:10px 0px 0px;
    padding: 0px;
	
	font-family:mont-bold;

}
.enroll{
	background-color:#eab931;
	height:auto;
	padding:30px 15px;
}


.enroll .enroll-details .box-left h1{
	text-align: center;
    line-height: 36px;
    color: #fff;
	font-size:32px;
	margin:30px 0px 0px;
	font-family:mont-bold;
	position:relative;
}
.enroll .enroll-details .box-left h1::before{
	content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 15px;
    margin-left: -3px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid #ffffff;
}
.enroll .enroll-details .box-left h1::after{
	    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    top: 100%;
    left: 50%;
    margin-left: -20px;
    background-color: #ffffff;
    margin-top: 18px;
}
.enroll .enroll-details .box-left h1 span{
	color:#000000;
}

.enroll .enroll-details .box-left h3{
	font-family:mont-bold;
    font-size: 18px;
	color:#000000;
	margin:50px 0px 50px;
	text-align:center;
}
.enroll .enroll-details .box-left h2{
	font-family:mont-bold;
    font-size: 32px;
	color:#000000;
	margin:0px;
	line-height:34px;
	padding:0px;
	text-align:center;
}
.enroll .enroll-details .box-right {
	padding-left:60px;
}
.enroll .enroll-details .box-right .enroll-form h2{
	margin: 0 0 25px;
    word-spacing: 1px;
	color:#000000;
	font-size:32px;
	font-family:mont-bold;
	text-align:center;
}
.enroll .enroll-details .box-right .enroll-form{
	height:auto;
	background-color:#ffffff;
	border-radius:4px;
	padding:51px 67px 30px
}
.enroll .enroll-details .box-right .enroll-form .form-control{
	border-radius: 0;
    border: 2px solid #eee;
    background: #eee;
    box-shadow: none !important;
	text-align: center;
    height: 47px;
    line-height: 47px;
    font-size: 13px;
    color: #aaa;
	font-family:mont-medium;
	margin-bottom:15px;
	-webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.enroll .enroll-details .box-right .enroll-form .form-control:focus{
	border-color:#54a6d5;
	font-size:18px;
	color:#000000;
	font-family:mont-bold;
	background-color:#ffffff;
}
.enroll .enroll-details .box-right .enroll-form .form-control:focus::placeholder{
	color:transparent;
}

.enroll .enroll-details .box-right .enroll-form .btn{
	   border-color: #fff;
    color: #fff;
    background-color: #48a7d4;
    height: 47px;
    font-size:14px;
	text-transform:uppercase;
	font-family:open-sans-bold;
	
    webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    z-index: 10;
	width:135px;
	box-shadow:none;
	border-radius:0;
	margin:auto;
	overflow:hidden;
	display:block;
	position:relative;
	z-index:10;
}

.enroll .enroll-details .box-right .enroll-form .btn::after{
	content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
   left: -100%;
    top: 0;
    background: rgba(0,0,0,0.1);
    z-index: -1;
	-webkit-transition: all 0.25s cubic-bezier(.66,.36,.17,.91);
    -moz-transition: all 0.25s cubic-bezier(.66,.36,.17,.91);
    -o-transition: all 0.25s cubic-bezier(.66,.36,.17,.91);
    transition: all 0.25s cubic-bezier(.66,.36,.17,.91)
}
.enroll .enroll-details .box-right .enroll-form .btn:hover::after{
	left:0px;
}
.page-footer{
	background:#414b4f;
	padding:50px 15px 30px
}
.page-footer .footer-details h3{
	margin: 0 0 25px;
    color: #fff;
    text-transform: uppercase;
	font-size:18px;
	font-family:mont-bold;

}


.page-footer .footer-details .about-us p{
	    font-size: 13px;
    line-height: 20px;
	font-family:open-sans;
	color:#cccccc;
	margin:0px;
	padding:0px;
	line-height:20px;
}

.page-footer .footer-details .quik-links ul{
	list-style:none;
	padding:0px 0px 0px 0px;
	margin:0px;
}
.page-footer .footer-details .quik-links ul li {}

.page-footer .footer-details .quik-links ul li a{
	position: relative;
    display: block;
    padding: 7px 0;
    padding-left: 18px;
    color: #fff;
    font-size: 12px;
    letter-spacing: 0.7px;
    border-bottom: 1px solid #5b6366;
    text-transform: uppercase;
    text-decoration: none !important;
	font-family:open-sans;
	webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.page-footer .footer-details .quik-links ul li a:hover{
	color:#eab830;
}
.page-footer .footer-details .contact-address ul{
	list-style:none;
	padding:0px;
}
.page-footer .footer-details .contact-address ul li.first .text{
	position: relative;
    top: -5px;
}
.page-footer .footer-details .contact-address ul li .icon{
	float: left;
    margin-right: 23px;
    color: #aaa;
    font-size: 16px;
}

.page-footer .footer-details .contact-address ul li .text{

    max-width: 185px;
    font-size: 13px;
	font-family:open-sans;
    overflow: hidden;
    color: #fff;
	position:relative;
	line-height:22px;

}
.page-footer .footer-details .contact-address ul li a{
	color:#ffffff;
	font-family:open-sans;
	text-decoration:none;
	webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
	
}
.page-footer .footer-details .contact-address ul li a:hover{
	color:#eab830
}
.page-footer .footer-details .contact-address ul li{
	    width: 100%;
    clear: both;
    margin-bottom: 12px;
}
.page-footer .footer-details .quik-links ul li a::after{
	content: '';
    display: block;
    position: absolute;
    width: 5px;
    height: 7px;
    z-index: 10;
    top: 50%;
    left: 5px;
    margin-top: -4px;
    background-image: url('../img/chevron2x-right-orange.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 5px 7px;
}

.page-footer .footer-details .social-links ul{
	    padding:0px;
    list-style: none;
}

.page-footer .footer-details .social-links ul li a{
	display: block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    background-color: #48a7d4;
    text-align: center;
    font-weight: 700;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
}

.page-footer .footer-details .social-links ul li .back a {
    background-color: #eab830;
}
.page-footer .footer-details .social-links ul li .flipper{
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}
.page-footer .footer-details .social-links ul li .front{
	z-index: 2;
    transform: rotateY(0deg);
}
.page-footer .footer-details .social-links ul li .back{
	transform: rotateY(180deg);
}
.page-footer .footer-details .social-links ul li:hover .flipper{
	transform: rotateY(180deg);
}
.page-footer .footer-details .social-links ul li .back,
.page-footer .footer-details .social-links ul li .back{
	backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
	    width: 45px;
    height: 45px;
}
.page-footer .footer-details .social-links ul li{
	    float:left;
	    margin: 0 5px 10px;
}
/* .page-footer .footer-top{ */
	/* background-color: #414b4f; */
	    /* padding: 63px 15px 30px; */
    /* color: #ccc; */
/* } */
@media (max-width:1199px){
.help-box .row .box{
	height:360px;
}
.success-stories .box-main .box{
	
	height:320px;
}
		
header .navigation-bar .navbar-nav>li {
    float: left;
    margin-left: 30px;
}
}
@media (max-width:991px){
.help-box .row .box{
	height:400px;
	padding-left:15px;
}	
.success-stories .box-main {
    padding: 50px 0px 30px;
    overflow: auto;
}
.courses .courses-details .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.courses .courses-details .box{
	width:270px;
	margin:30px 40px;
}

.page-footer .footer-details h3 {
    margin: 20px 0 25px;
}
.container {
    width: 100%;
    padding: 0px 15px;
}
.success-stories {
    padding: 40px 30px;
}
/*
.enroll .enroll-details .box-right {
    padding-left: 40px;
    padding-right: 30px;
}
.enroll .enroll-details .box-right .enroll-form {
    padding: 51px 40px 30px;
}*/
/*navigation collapse*/
.navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
  
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
  
 
    .collapse.in{
        display:block !important;
		
    }
	

.container-fluid > .navbar-collapse{
	margin-top: 28px;
	padding:0px;
}
.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-right: 0;
    margin-left: 0;
    
}
	
/*navigation collapse*/	
.top-strip .pull-right{
	padding:0px 15px;
}
.courses .courses-details {
    padding: 0px 15px;
}
header .navigation-bar img {
    margin-left: 30px;
}
.footer-wrapper {
    padding: 0px;
}
.enroll .enroll-details .box-right {
    padding-left: 30px;
    padding-right: 30px;
}
.success-stories .box-main .box{
	height: auto;
	width: 200px;
	display: table;
}
}
@media (max-width:767px){
	.enroll .enroll-details .box-right {
    padding: 30px;
}
	.help-box .row .box{
		height:auto;
	}
.achievement{
height:auto;	
}
.achievement .achievement-details .box {
	margin-bottom:30px;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #848484;
}
.navbar-inverse .navbar-toggle{
	border:none;
}
.help-box .row .box:hover{
	margin:0px;
}
.enroll .enroll-details .box-right .enroll-form {
    padding: 51px 37px 30px;
}

header .navigation-bar {
    background-color: #323332!important;
    padding: 10px 15px 10px 15px;
    position:relative;
    top:0px;
    border-top: 1px solid #4c4949;
}

header .navigation-bar img {
    height: 30px;
	margin-top:10px;
	margin-left:15px;
}
.footer-wrapper{
	padding:0px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
    padding: 0px 30px;
}
.page-footer {
 
    padding: 30px 15px 30px;
}
.achievement{
	    background-position: 50% 0;
}
.top-strip .pull-right{
	padding:0px 24px;
}
.top-strip ul li {
   
    font-size: 11px;
    font-family: open-sans-semi;
    margin-left: 14px;
}
header .navigation-bar .navbar-nav>li {
    float: left;
    margin-left: 0;
    display: block;
    width: 100%;
	
}

.slider {
    height: auto;
}
.slider .carousel .carousel-inner .item {
 
height: 470px;
}
.slider .carousel .carousel-inner .item .carousel-caption h3 {
    
    font-size: 24px;
    line-height: 26px;
    
}
.slider .carousel .carousel-inner .item .carousel-caption p {
    
    font-size: 20px;
    line-height: 22px;
}
.success-stories .heading h1 {
    font-size: 22px;
    line-height: 25px;
    margin-top: 27px;
}

.success-stories {
    padding: 40px 30px 0px;
    margin-top: -225px;
}
.success-stories .box-main {
    padding: 30px 0px 0px;
 
}
.success-stories .box-main {
    padding: 30px 0px 0px;
    overflow: auto;
	
}
.slider .carousel .carousel-inner .item .carousel-caption{
    -webkit-transform:translateY(20%);
	transform:translateY(20%)
}
.slider .carousel .carousel-control{
	background-color:transparent;
}
.slider .carousel .carousel-control.left {
    margin-left: -20px;
    width: 50px;
}
.slider .carousel .carousel-control.right{
    margin-right: -20px;
    width: 50px;
}
.slider .carousel .carousel-control:focus,
.slider .carousel .carousel-control:hover{
	background-color:transparent;
}
.help-box {
    padding: 30px 15px;
}
.slider .carousel .carousel-inner .item:nth-child(2) {
    background-image: url(../img/slide1.jpg);
    background-position: 70% 100%;
}	
}